* {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction:rtl;
    color: #DBC8BA;
}
body{
    background-color: #030100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

header {
    display: inline-flex;
    background-color: #030100;
    height: fit-content;
    direction: ltr;
}
nav ul{
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    margin: 5px 0 0 0;
}
nav ul li{
    padding: 0.4rem;
}
li a{
    text-decoration: none;
    color: #DBC8BA;
}
#hero img{
    width: 100%;
    z-index: 0;
    position: relative;
}
.centerd {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: antiquewhite;
}
#products{
    background-color: #0A0500;
    flex-wrap: wrap;
}
#products li{
    width: 50%;
    height: 50%;
    margin: 1%;
    background-color: #261A12;
    color: #DBC8BA;
}
#products ul{
    display: inline-flex;
}
#products button{
    color: #877B73;
    background-color: #261A12;
    margin-top: 10%;
    border-style: none;
    font-size: 12px;
}
#products button:hover{
    background-color: hsla(25, 31%, 79%, 0.1);
}

form button{
    width: 10%;
}

div #email {
    color: #402C1E;
    background-color: #0A0500;
    border-color: #402C1E;
    border-radius: 10px;
    border: 10rem;
}
div label .btn {
    color: #0A0500;
    background-color: #402C1E;
}

